In [17]:
import pandas as pd
 
# 读取JSON文件
with open('/home/konata/Dataset/TED_MRI/T2/mask/seg_unique9.json', 'r') as file:
    data = pd.read_json(file).T

data=data.drop(0,axis=1)
data=data.drop(1,axis=1)
data['id']=data.index
data=data.reset_index(drop=True)
data.to_csv('data.csv', index=False)

In [49]:
import pandas as pd
import numpy as np
a=[]
for i in range(3):
    a.append(np.random.randint(0,5,size=(5,5)))
x0=1
x1=3
y0=1
y1=4
print(a)
print(a[0][y0:y1, x0:x1])

[array([[4, 2, 0, 2, 1],
       [2, 1, 3, 1, 4],
       [0, 2, 4, 4, 2],
       [3, 0, 3, 4, 4],
       [2, 0, 4, 4, 1]]), array([[0, 0, 3, 2, 0],
       [2, 3, 1, 4, 4],
       [4, 1, 0, 2, 3],
       [3, 4, 4, 0, 1],
       [2, 2, 3, 0, 0]]), array([[0, 1, 3, 3, 2],
       [4, 1, 1, 4, 3],
       [2, 4, 1, 2, 3],
       [0, 1, 2, 4, 3],
       [3, 1, 1, 0, 1]])]
[[1 3]
 [2 4]
 [0 3]]

In [8]:
import pandas as pd
import os

path='/home/konata/Dataset/TED_MRI/T2/mask/seg_slice/'
files=os.listdir(path)
#list2csv
data=pd.DataFrame(files)


data['id']=data[0]
data=data.drop(0,axis=1)
data['index']=data['id'].str.extract(r'(\d+)').astype(int)
data=data.sort_values(by='index')
data=data.drop('index',axis=1)
data=data.reset_index(drop=True)

data
data.to_csv('/home/konata/Dataset/TED_MRI/T2seg_unique9.csv', index=False)

In [1]:
import pandas as pd
import os
import SimpleITK as sitk
import numpy as np
path='/home/konata/Dataset/TED_MRI/T2/mask/seg_cut/'
filenames=os.listdir(path)
files=[]
#list2df2csv
for file in filenames:
    seg=sitk.ReadImage(os.path.join(path,file))
    seg=sitk.GetArrayFromImage(seg)
    shape=seg.shape[0]
    files.append([file.split('.')[0],shape])


data=pd.DataFrame(files)
data['id']=data[0]
data['shape_z']=data[1]
data=data.drop(0,axis=1)
data=data.drop(1,axis=1)
data['index']=data['id'].str.extract(r'(\d+)').astype(int)
data=data.sort_values(by='index')
data=data.drop('index',axis=1)
data=data.reset_index(drop=True)

data.to_csv('/home/konata/Dataset/TED_MRI/T2.csv', index=False)
data

                  id  shape_z
0       1_2018-04-12       20
1      26_2019-04-04       20
2      36_2019-05-09       20
3      41_2019-05-17       20
4      66_2019-08-15       20
..               ...      ...
121  1644_2021-05-31       20
122  1645_2021-05-15       20
123  1656_2021-05-13       20
124  1657_2021-07-06       20
125  1668_2021-06-26       20

[126 rows x 2 columns]

In [ ]:
import pandas as pd
import openpyxl

# 读取JSON文件
with open('data.json', 'r', encoding = 'UTF-8') as file:
    data = pd.read_json(file)

data.to_excel('data.xlsx', index=False, engine='openpyxl')

In [ ]:
sheet_path=r'/home/konata/Dataset/TED_MRI/T2(2d_unique9).csv'
sheet=pd.read_csv(sheet_path)
sheet